@use "@/styles/abstracts" as *;

.editor {
  gap: $spacing-xl;
}

.mainColumn,
.sideColumn {
  min-width: 0;
}

.mainColumn {
  display: grid;
  gap: $spacing-xl;
}

.mainColumnFooter {
  display: grid;
  grid-template-columns: minmax(0 1fr);
  gap: $spacing-xl;
}

@include desktop {
  .editor {
    grid-template-columns:
      minmax(0, 1fr)
      minmax(17rem, 22rem);

    gap: $spacing-2xl;
  }

  .mainColumn {
    gap: $spacing-2xl;
  }

  .mainColumnFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-xl;
  }
}

.actions {
  display: grid;
  gap: $spacing-lg;
}

@include tablet {
  .actions {
    grid-template-columns:
      repeat(2, minmax(0, 1fr));
  }
}

.saveStatus {
  margin: 0;

  color: $color-text-muted;
  font-size: $font-size-xs;
  text-align: center;
}