@use "../abstracts" as *;

body {
  font-family: $font-body;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  color: $color-text;
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
  color: $color-text;
}

h1 {
  font-size: $font-size-2xl;
}

h2, h3 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-md;
}

small {
  font-size: $font-size-sm;
}

@include desktop {
  h1 {
    font-size: $font-size-3xl;
  }

  h2 {
    font-size: $font-size-2xl;
  }
}